$control-background-color: transparent;
$control-border-width: 0;
$control-padding-vertical: calc(2px - #{$control-border-width});
$control-padding-horizontal: 0;
$control-radius: 0;
$control-height: 44px;