$navbar-background-color: $body-background-color;
$navbar-dropdown-border-top: none;
$navbar-dropdown-background-color: $black;
$navbar-dropdown-item-hover-background-color: #181818;
$navbar-dropdown-radius: 0;

$navbar-divider-background-color: #222222;
$navbar-divider-height: 1px;

$navbar-item-color: $link;
$navbar-item-active-color: $link-active;
$navbar-item-hover-color: $link-hover;

nav.navbar {
  background-color: $navbar-background-color;
  font-size: $size-7;
  position: absolute;
  width: 100%;
}
.navbar {
  transition: 300ms ease-out background-color, border-color, box-shadow, color;

  .navbar-brand {
    .navbar-item,
    .navbar-item:hover {
      background-color: transparent;
      color: $link;
      font-weight: 700;
      font-size: $size-7;
      letter-spacing: 0;
      height: 3.25rem;
      width: 76px;
      text-transform: uppercase;

      img {
        max-height: 3rem;
      }
    }
  }

  .navbar-divider {
    margin: 0;
  }

  .navbar-dropdown {
    padding: 0;

    @media screen and (min-width: 1088px) {
      .navbar-item {
        padding: 1rem 1.5rem;
        min-width: 12rem;
      }

      .navbar-item,
      .navbar-link {
        color: $link;

        &:hover {
          background: none;
          color: $white-bis;
        }
      }
    }
  }

  .navbar-item {
    color: $link;
    font-weight: 700;
    text-decoration: underline;
    transition: background-color 0.3s ease-out;

    &:hover {
      background: none;
      text-decoration: underline;
    }
    &:focus {
      background-color: $white-bis;
      border: none;
      color: $primary-1;
      outline-color: rgba($white, 0.1);
      text-decoration: underline;
    }
  }

  .navbar-link:not(.is-arrowless) {
    padding-right: 1.7rem;

    &::after {
      border-bottom: 0.3rem solid transparent;
      border-left: 0.3rem solid transparent;
      border-right: 0.3rem solid transparent;
      border-top: 0.3rem solid #000000;
      border-radius: 0;
      margin-top: -0.1rem;
      right: 0.6rem;
      transform: none;
      width: 0.6rem;
    }
  }

  @include until($tablet - 1) {
    background: none;

    &.is-scrolled,
    &.is-expanded,
    &.news,
    &.start {
      background: rgba(0, 0, 0, 0.7);

      .navbar-burger,
      .navbar-item,
      .navbar-item:hover,
      .navbar-link:not(.is-arrowless) {
        color: #fff;
      }

      .navbar-link:not(.is-arrowless):after {
        border-top: 0.3rem solid #fff;
      }
    }

    .navbar-menu {
      background: none;
    }

    .navbar-link:not(.is-arrowless):hover {
      background: none;
    }
  }

  @media screen and (min-width: 1088px) {
    background-color: transparent;

    &.is-transparent {
      .navbar-dropdown {
        a.navbar-item:hover {
          color: $white;
          text-decoration: underline;
        }
      }
    }

    &.is-scrolled {
      background-color: rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.02);
      color: #fff;

      a {
        color: #fff;
      }

      .is-hoverable:hover {
        .navbar-link {
          background: none;
        }
      }

      .navbar-link:not(.is-arrowless) {
        padding-right: 1.7rem;

        &::after {
          border-top: 0.3rem solid #ffffff;
        }
      }

      .navbar-item {
        background: none;
        color: #fff;

        .navbar-link:hover {
          background: none;
        }

        &.has-dropdown.is-active {
          .navbar-link {
            background: none;
          }
        }
      }
    }
  }
}
