$navbar-background-color: white;
$navbar-dropdown-border-top: none;
$navbar-dropdown-background-color: $black;
$navbar-dropdown-item-hover-background-color: #181818;
$navbar-dropdown-radius: 0;

$navbar-divider-background-color: #222222;
$navbar-divider-height: 1px;

$navbar-item-color: $link;
$navbar-item-active-color: $link-active;
$navbar-item-hover-color: $link-hover;

nav.navbar {
  background-color: $navbar-background-color;
  font-size: 14px;
  line-height: 16px;
  padding-top: 35px;
  padding-bottom: 35px;
  transition: 300ms ease-out background-color, border-color, box-shadow, color;

  @include until($tablet - 1) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .navbar-brand .navbar-item {
      padding: 0;
    }

    .navbar-burger {
      padding: 0rem;
      width: 36px;

      span {
        height: 3px;
        left: 0;
        width: 100%;
      }
    }
  }

  .navbar-brand {
    .navbar-item,
    .navbar-item:hover {
      background-color: transparent;
      text-indent: -9999px;
      color: $black;
      font-weight: 700;
      font-size: $size-7;
      letter-spacing: 0;
      text-transform: uppercase;

      > i {
        background-image: url(//wl-cebu-assets.s3-ap-southeast-1.amazonaws.com/logo-black-text.svg);
        background-repeat: no-repeat;
        height: 48.62px;
        width: 180px;
      }
    }
  }

  .navbar-divider {
    margin: 0;
  }

  .navbar-dropdown {
    padding: 0;

    @media screen and (min-width: 1088px) {
      .navbar-item {
        padding: 1rem 1.5rem;
        min-width: 12rem;
      }

      .navbar-item,
      .navbar-link {
        color: $black;

        &:hover {
          background: none;
          color: $white-bis;
        }
      }
    }
  }

  .navbar-end > .navbar-item {
    font-weight: 300;

    &.is-active,
    &:active {
      font-weight: 800;
    }
  }

  .navbar-item {
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.3s ease-out;

    &:focus,
    &:hover,
    &.is-active {
      background: none;
    }
    &:focus {
      border: none;
      color: $primary-1;
      outline-color: rgba($white, 0.1);
    }
    &.call-keith {
      &.is-active,
      &:active {
        font-weight: 300;
      }
    }
  }

  .navbar-link:not(.is-arrowless) {
    padding-right: 1.7rem;

    &::after {
      border-bottom: 0.3rem solid transparent;
      border-left: 0.3rem solid transparent;
      border-right: 0.3rem solid transparent;
      border-top: 0.3rem solid #000000;
      border-radius: 0;
      margin-top: -0.1rem;
      right: 0.6rem;
      transform: none;
      width: 0.6rem;
    }
  }

  @include until($tablet - 1) {
    background: none;

    &.is-scrolled,
    &.is-expanded,
    &.news,
    &.start {
      background: rgba(0, 0, 0, 0.7);
      .navbar-brand .navbar-item i {
        background-image: url(//wl-cebu-assets.s3-ap-southeast-1.amazonaws.com/logo.svg);
      }

      .navbar-burger,
      .navbar-item,
      .navbar-item:hover,
      .navbar-link:not(.is-arrowless) {
        color: #fff;
      }

      .navbar-link:not(.is-arrowless):after {
        border-top: 0.3rem solid #fff;
      }
    }

    .navbar-menu {
      background: none;
    }

    .navbar-link:not(.is-arrowless):hover {
      background: none;
    }
  }

  @media screen and (min-width: 1088px) {
    &.is-transparent {
      .navbar-dropdown {
        a.navbar-item:hover {
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }
}
