// Button overrides
$button-border-width: 1px;
$button-border-radius: 8px;
$button-color: $royal-3;
$button-padding-vertical: calc(14px - #{$button-border-width});

$button-text-color: $royal-2;

@import '~bulma/sass/elements/button.sass';
$button-height: 52px;

.button {
  font-weight: 700;
  padding-bottom: 0;
  padding-top: 0;

  &.is-paddingless.auto-height {
    height: auto;
  }

  &.fab {
    position: absolute;
    bottom: calc(#{$control-padding-vertical} + #{$footer-height});
    right: $control-padding-vertical;
  }

  &.is-circle {
    border-radius: 50%;
    padding: 0 0 2px 0;

    &.is-large {
      font-size: 2.25rem;
      height: 3rem;
      width: 3rem;
      text-indent: -2px;
    }
  }
}
