.field {
  &:not(:last-child) {
    margin-bottom: $size-3;
  }
}

.input {
  min-height: $input-height;
  padding-left: $size-5;
  padding-right: $size-5;
}

.label {
  a {
    text-decoration: underline;
  }
}

.control {
  > .button {
    height: 100%;
  }
}
