@mixin rounded-corners() {
  border-radius: 8px;
}

@mixin shadow($start_opacity: 0.12, $end_opacity: 0.1) {
  box-shadow: 0 20px 40px 0 rgba(23, 28, 33, $start_opacity),
    0 4px 9px 0 rgba(23, 28, 33, $end_opacity);
}

div.xbox {
  @include rounded-corners;
  @include shadow(0.07, 0.05);
  align-items: stretch;
  border-color: $white-ter;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  p {
    background: $white-bis;
    border-radius: 0 0 5px 5px;
    height: 100%;
    padding: 1rem;
  }
}

.thin {
  font-weight: 300;
  letter-spacing: 0;
}

.snack-wrap {
  display: block;
  position: absolute;
  top: calc(2px - #{$footer-height});
  right: $control-padding-vertical;
  padding: 0px;
  z-index: 30;

  .snackbar {
    display: block;
    padding: $size-7 $size-2 $size-7 $size-7;
    position: relative;
    left: 0px;
    top: -#{$navbar-height};
    transition: bottom 0.5s ease-in-out;
    z-index: 9;
  }
  .snackclose,
  label {
    top: -#{$navbar-height};
    position: absolute;
    border: 0;
  }
  .snackclose {
    display: none;
    z-index: 10;
  }
  label {
    z-index: 11;
    display: block;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }
  .animated {
    animation-name: snackbar-hide;
    animation-delay: 0s;
    animation-duration: 0;
    animation-direction: forwards;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &.show,
  &.hide {
    .animated {
      animation-name: snackbar-hide;
      animation-delay: 0s;
      animation-duration: 800ms;
    }
  }

  &.show .animated {
    animation-name: snackbar-show;
    animation-delay: 0;
  }

  @keyframes snackbar-show {
    0% {
      bottom: -#{$navbar-height};
    }
    97%,
    99% {
      bottom: 11px;
    }
    98%,
    100% {
      top: $navbar-height;
    }
  }
  @keyframes snackbar-hide {
    100% {
      top: -#{$navbar-height};
    }
  }
}
