.top-div,
.mid-div {
    width: 110%;
    height: 60px;
    margin-top: -30px;
    margin-left: -5%;
    transform: rotate(-1.5deg);

    &.reversed {
        transform: rotate(1.5deg);
    }

    > div {
        box-shadow: 0 -2rem 2rem -2rem inset rgba(0, 0, 0, 0.2);
        height: 1rem;
        margin-top: -1rem;
        position: absolute;
        width: 100%;
    }
    + section {
        margin-top: -2rem;
        padding-top: 1rem;
    }

    + .is-medium {
        padding-top: 5rem;
        padding-bottom: 8rem;
    }

    + .is-vertically-even {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

.top-div {
    background: white;

    + section {
        padding-bottom: 7rem;
    }
}

.mid-div {
    margin-bottom: -30px;
    position: relative;

    &.no-shadow {
        > div {
            box-shadow: none;
        }
    }
}
