$black: #060a15;
$black-bis: #161a25;
$black-ter: #1a1d28;
$grey-darker: #1c2130;
$grey-dark: #222838;
$grey: #323a47;
$grey-light: #474d5b;
$grey-lighter: #9a9eaa;
$white-bis: #bcc3cd;
$white-ter: #eceef2;
$white: #f8f8fe;

$cool-0: #f2fafb;
$cool-1: #e0f7fa;
$cool-2: #80deea;
$cool-3: #4dd0e1;
$cool-4: #26c6da;
$cool-5: #00bcd4;
$cool-6: #00acc1;
$cool-7: #0097a7;
$cool-8: #00838f;
$cool-9: #006064;
$royal-0: #f1eef5;
$royal-1: #f2e6fe;
$royal-2: #dbb2ff;
$royal-3: #ba85fc;
$royal-4: #985eff;
$royal-5: #7f38fa;
$royal-6: #6201ed;
$royal-7: #5601e8;
$royal-8: #3702b3;
$royal-9: #31009b;
$pink-0: #f5eef1;
$pink-1: #fee6f2;
$pink-2: #ffb2db;
$pink-3: #fc85ba;
$pink-4: #ff5e98;
$pink-5: #fa387f;
$pink-6: #ed0162;
$pink-7: #e8035f;
$pink-8: #b30237;
$pink-9: #9b0031;
