$black: #0a0a0a;
$black-bis: #0d131d;
$black-ter: #121212;
$grey-darker: #202429;
$grey-dark: #303948;
$grey: #64696e;
$grey-light: #989ca4;
$grey-lighter: #dbdee0;
$white-ter: #ebecee;

$cool-0: #f2fafb;
$cool-1: #e0f7fa;
$cool-2: #80deea;
$cool-3: #4dd0e1;
$cool-4: #26c6da;
$cool-5: #00bcd4;
$cool-6: #00acc1;
$cool-7: #0097a7;
$cool-8: #00838f;
$cool-9: #006064;
$royal-0: #f1eef5;
$royal-1: #f2e6fe;
$royal-2: #dbb2ff;
$royal-3: #ba85fc;
$royal-4: #985eff;
$royal-5: #7f38fa;
$royal-6: #6201ed;
$royal-7: #5601e8;
$royal-8: #3702b3;
$royal-9: #31009b;
$pink-0: #f5eef1;
$pink-1: #fee6f2;
$pink-2: #ffb2db;
$pink-3: #fc85ba;
$pink-4: #ff5e98;
$pink-5: #fa387f;
$pink-6: #ed0162;
$pink-7: #e8035f;
$pink-8: #b30237;
$pink-9: #9b0031;

$wl-0: #f9fafd;
$wl-1: #95c9fc;
$wl-2: #95c9fc;
$wl-3: #2c91ff;
$wl-4: #2c91ff;
$wl-5: #2c91ff;
$wl-6: #2c91ff;
$wl-7: #2c91ff;
$wl-8: #2c91ff;
$wl-9: #2c91ff;

$wl-inv-3: #989ca4;
$wl-inv-5: $grey-dark;
