$section-padding: 5rem $size-3;

@import '~bulma/sass/layout/section.sass';

.hero.is-dark {
  background-color: $black-bis;
}

.hero-body {
  blockquote {
    &:after {
      content: "”";
      display: block;
      color: $primary;
      font-size: 64px;
    }
  }
}
