$control-border-width: 1px;
$control-padding-vertical: calc(18px - #{$control-border-width});
$control-padding-horizontal: 18px;
$control-border-width: 1px;
$control-radius: 8px;
$control-height: 44px;
