$link: $wl-5;
$link-invert: $wl-inv-5;
$link-visited: $wl-7;
$link-hover: $wl-7;
$link-hover-border: $wl-7;
$link-focus: $wl-7;
$link-focus-border: $wl-7;
$link-active: $wl-7;
$link-active-border: $wl-7;

$primary: $wl-5;
$primary-1: $wl-7;

.has-background-primary {
  color: #fff;
}

.has-border-white-ter {
  border: 1px solid $white-ter;
}

.is-circle {
  border-radius: 50% !important;
}
