$footer-height: 2rem;

$link: $cool-1;
$link-invert: $pink-1;
$link-visited: $cool-3;
$link-hover: $cool-2;
$link-hover-border: $cool-2;
$link-focus: $cool-2;
$link-focus-border: $cool-2;
$link-active: $pink-2;
$link-active-border: $pink-2;

$primary: $cool-2;
$primary-1: $cool-4;
