$link: $pink-6;
$link-invert: $royal-7;
$link-visited: $pink-4;
$link-hover: $pink-8;
$link-hover-border: $pink-8;
$link-focus: $pink-7;
$link-focus-border: $pink-7;
$link-active: $pink-9;
$link-active-border: $pink-9;

$primary: $pink-5;
$primary-1: $pink-7;
