.tech-solutions {
  #Banner {
    .hero-body {
      background-image: url(//wl-cebu-assets.s3.amazonaws.com/images/watermark-2.png);
      background-repeat: no-repeat;
      background-position: left bottom;
    }
  }

  figure {
    margin: 50px 0;
    width: 243px;
    > img.is-rounded,
    > .image-placeholder {
      border-radius: 50%;
      border: 1px solid #ebecee;
      padding: 12px;
      margin-bottom: 20px;
    }

    dl {
      dt {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
      }
      dd {
        font-size: 13px;
        line-height: 141.69%;
      }
    }
  }
}
