.talent-solutions {
  #Banner {
    .hero-body {
      background-image: url(//wl-cebu-assets.s3.amazonaws.com/images/watermark-2.png);
      background-repeat: no-repeat;
      background-position: left bottom;
    }
  }

  figure {
    margin: 50px 0;
    width: 243px;
    > img.is-rounded,
    > .image-placeholder {
      border-radius: 50%;
      border: 1px solid #ebecee;
      padding: 12px;
      margin-bottom: 20px;
    }

    dl {
      dt {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
      }
      dd {
        font-size: 13px;
        line-height: 141.69%;
      }
    }
  }

  .offers {
    margin: 45px auto;
    max-width: 1160px;

    .box {
      align-self: flex-start;
      background-color: #fff;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 10px 25px rgba(64, 96, 145, 0.1);

      > div {
        width: 100%;
      }

      p {
        margin-bottom: 30px;
        width: 100%;
      }

      svg {
        fill: currentColor;
      }
    }

    i.checkmark {
      color: #fff;
      display: inline-block;
      height: 24px;
      width: 24px;
      text-align: center;
      svg {
        margin: auto;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      li {
        margin-bottom: 20px;
        padding-right: 25px;
        padding-left: 35px;

        i.checkmark {
          float: left;
          margin-left: -35px;
        }
      }
    }
  }
}
