.our-team #Mission {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center top;
  
  .hero-body {
    padding: 85px 85px 110px;
    blockquote {
      color: #fff;
      font-size: 24px;
      line-height: 28px;
      position: relative;
      &:after {
        bottom: -74px;
        display: block;
        position: absolute;
        width: 100%;
      }
    }
  }

  .banner {
    font-size: 36px;
    line-height: 118%;
  }
}