.our-team {
  #Banner {
    margin-top: 140px;
    .hero-body {
      background-image: url(//wl-cebu-assets.s3.amazonaws.com/images/watermark-2.png);
      background-repeat: no-repeat;
      background-position: left bottom;
      padding: 85px 0;

      .banner {
        font-size: 36px;
        line-height: 118%;
      }
    }
  }

  figure {
    margin: 50px 0;
    width: 243px;
    > img.is-rounded,
    > .image-placeholder {
      border-radius: 50%;
      border: 1px solid #ebecee;
      padding: 12px;
      margin-bottom: 20px;
    }

    dl {
      dt {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
      }
      dd {
        font-size: 13px;
        line-height: 141.69%;
      }
    }
  }

  .people,
  .values {
    padding-bottom: 90px;
    padding-top: 90px;
    h3 {
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 30px;
    }

    .faces {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
