#OurTeam {
  margin-top: 140px;
  .hero-body {
    background-image: url(//wl-cebu-assets.s3.amazonaws.com/images/watermark-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}