#OurTeam #Vision {
  background-image: url(//wl-cebu-assets.s3.amazonaws.com/images/watermark-our-vision.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  
  .hero-body {
    padding: 85px;
  }

  .banner {
    font-size: 36px;
    line-height: 118%;
  }
}