$body-background-color: $black-ter;
$text: $white;
$text-alt: $white-bis;

@mixin shadow($start_opacity: 0.3, $end_opacity: 0.1) {
  box-shadow: 0 20px 40px 0 rgba(23, 28, 33, $start_opacity),
    0 4px 9px 0 rgba(23, 28, 33, $end_opacity);
}
