$input-color: $black;
$input-background-color: $white-ter;
$input-border-color: rgba($grey-light, 0.08);
$input-focus-border-color: rgba($grey-light, 0.05);
$input-focus-box-shadow-color: rgba($grey-light, 0.02);
$input-hover-color: $input-color;
$input-hover-border-color: $grey-dark;
$input-placeholder-color: $grey-darker;
$input-icon-color: $black-bis;
$input-icon-active-color: $purple;
$input-shadow: none;
$input-height: 44px;
$input-radius: $control-radius;
$label-color: $grey-light;

.input {
  height: $input-height;
}

textarea.input {
  height: auto;
  resize: vertical;
}
